.circleindicator-container  {	
	circleindicator-color: #D95E01;
	-fx-padding: 5.0;
	/*-fx-background-color: #AEE8F2;*/
}
.circleindicator-container > .circleindicator-label {
	-fx-font-weight: bold; 
 	-fx-font-size: 2.5em;
	-fx-text-fill: circleindicator-color;
	-fx-padding: 5.0;
}