* {
    -fx-primary : #273238;
    -fx-secondary : #FFFF8D;
    -fx-primarytext : #B2B2B2;
    -fx-blue: #1976D2;
    -fx-red: #FF0000;
    -fx-color-1:#1976D2;
}

.tab{
    -fx-background-color: -fx-primary;
}

.tab-header-background{
    -fx-background-color: -fx-primary;
}

.tab-label{
    -fx-text-fill: -fx-secondary ;
    -fx-font-size: 10pt; 
}
.tab:hover .tab-label
{
    -fx-text-fill: #ffffff;
}

.tab-main{
    -fx-pref-height : 60;
    -fx-max-height : 60;
}

.settings-tab{
    -fx-background-color: derive(-fx-primary, 10%);
    -fx-padding: 5px 20px 5px 20px;
}

.settings-tab:selected{
    -fx-background-color: -fx-secondary;
}
.tab:hover
{
    -fx-background-color: #47513e;
}

.settings-tab:selected .tab-label{
    -fx-text-fill: -fx-primary;
}

.settings-tab .tab-header-background{
    -fx-background-color: derive(-fx-primary, -50%);
}
.button
{
    -fx-background-color: #FCC699

}
.button:hover
{
    -fx-background-color: #D95E01
}
.radio-button .radio {
    -fx-selected-color: #D95E01;
}
.pa
{
    -fx-border-width: 0.4px;
    -fx-border-color: #273238;
    -fx-background-color: #ebf2f3;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
    
}
.pal 
{
    -fx-text-fill:#484848;
}
.bal 
{
    -fx-text-fill:#484848;
}
.bal:hover
{
    -fx-text-fill:#fff;
}
.test
{
    -fx-effect: dropshadow( three-pass-box , #829397 ,10, 0.1 , -5 , 5);
}

/*.table-cell:filled {
    -fx-background-color: -fx-my-cell-background;
}

.table-view:row-selection .table-row-cell:selected .table-cell {
    -fx-background-color: null;
}

.table-view:cell-selection .table-cell:selected {
    -fx-background-color: -fx-table-cell-border-color, -fx-background;
}

.table-cell.name-column {
    -fx-background-color: #ebf2f3;
    -fx-border-color: #273238;
    

}
 
.table-view .column-header.name-column {
    -fx-base: #FCC699;
    -fx-border-width: 4px;    
}*/


./*table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #f1f2f2;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #484848;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: #484848;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #ebf2f3;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; 
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #def1f4;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:selected {
    -fx-background-color: #FCC699;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}*/

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: D95E01    ;
    -fx-background-radius: 7px;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}